body {
    background-image: url(gradientblue.jpg);
    color: #d5e3ff;
    font-family: Verdana, Arial, sans-serif;
}

header {
    display: block;
    background-color: #000066;
    color: #FFFFFF;
    background-image: url(bigfish.gif);
    background-repeat: no-repeat;
    background-position: center;
}

main {
    display: block;
    margin-left: 180px;
    padding-right: 20px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 10px;
    line-height: 150%;
    text-shadow: #CCCCCC;
}

nav {
    display: block;
    font-weight: bold;
    border: 0;
    float: left;
    width: 150px;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #3262A3;
}

nav a:visited {
    color: #6699FF;
}

nav a:hover {
    color: #CCCCCC;
}

.category {
    font-weight: bold;
    background-color: #FFFFFF;
    color: #003366;
    font-size: 1.1em;
    text-shadow: 1px 1px 1px #666;
}

footer {
    display: block;
    font-size: .70em;
    font-style: italic;
    padding: 10px;
    margin-left: 180px;
}

footer nav
{
    text-align: left;
}

#wrapper {
    background-color: #FFFFFF;
    color: #000066;
    min-width: 700px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}